<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Browsers Suite" parallel="tests" thread-count="2">

    <!-- Run the contact form filling test in Edge browser -->
    <test name="Edge - Fill Contact Form">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="MainUtilities.CrossBrowserTesting.CrossBrowserTesting">
                <methods>
                    <include name="fillContactFormTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Run the table validation test in Chrome browser -->
    <test name="Chrome - Table Validation">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="MainUtilities.CrossBrowserTesting.CrossBrowserTesting">
                <methods>
                    <include name="tableValidationTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
